{% extends 'layout.html' %}

{% block body %}
<div class="mt-12">
  <div class="row">
    <div class="col-md-12 offset-0">
      <h3 class="text-center">
        Add Category info
      </h3>

      <br>
      <form method="POST" action="{{url_for('new_category')}}">
        <div class="row w-100 p-3 col-md-12">

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.hascorephotos.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.hascorephotos(class="form-control") }}
            </div>
          </div>
          
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.wasanalysed.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.wasanalysed(class="form-control") }}
            </div> -->
            <select id="inputState" class="form-group col-md-4">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.coretype.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.coretype(class="form-control") }}
            </div> -->
            <select id="inputState" class="form-group col-md-4">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.storeidentifier.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.storeidentifier(class="form-control") }}
            </div>
          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.catalogcorefromdepth.label(class="form-control-label") }}
            </div>

            <div class="form-group col-md-4">
              {{ form.catalogcorefromdepth(class="form-control") }}
            </div>

          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.catalogcoretodepth.label(class="form-control-label") }}
            </div>

            <div class="form-group col-md-4">
              {{ form.catalogcoretodepth(class="form-control") }}
            </div>
          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.coresecurityflag.label(class="form-control-label") }}
            </div>

            <!-- <div class="form-group col-md-4">
              {{ form.coresecurityflag(class="form-control") }}
            </div> -->
            
            <select id="inputState" class="form-group col-md-4">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.catalogcorelength.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.catalogcorelength(class="form-control") }}
            </div>
          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.topcoreformation.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.topcoreformation(class="form-control") }}
            </div> -->
            <select id="inputState" class="form-group col-md-4">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.bottomcoreformation.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.bottomcoreformation(class="form-control") }}
            </div> -->
            <select id="inputState" class="form-group col-md-4">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.cataloguepicturesoftcopypath.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.cataloguepicturesoftcopypath(class="form-control") }}
            </div>
          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.cataloguepicturehyperlink.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.cataloguepicturehyperlink(class="form-control") }}
            </div>
          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.cataloguereportsoftcopypath.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.cataloguereportsoftcopypath(class="form-control") }}
            </div>
          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.cataloguereporthyperlink.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.cataloguereporthyperlink(class="form-control") }}
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.documentformat.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.documentformat(class="form-control") }}
            </div> -->
            <div class="form-group col-md-5">
              <select id="inputState" class="form-group col-md-5">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.filesize.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.filesize(class="form-control") }}
            </div>
          </div>

          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.securitygrade.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.securitygrade(class="form-control") }}
            </div> -->
            <select id="inputState" class="form-group col-md-4">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.openduedate.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.openduedate(class="form-control") }}
            </div> -->
            
            <div class="form-group col-md-5">
              <input class="form-control" type="date" value="2021-04-01" id="opendue-date-input">
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.comments.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.comments(class="form-control") }}
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.corecatalogname.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.corecatalogname(class="form-control") }}
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.welloperator.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-5">
              {{ form.welloperator(class="form-control") }}
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.wellbore.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.wellbore(class="form-control") }}
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.spuddate.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.spuddate(class="form-control") }}
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.corename.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.corename(class="form-control") }}
            </div> -->
            <select id="inputState" class="form-group col-md-4">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.cataloguepicturename.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.cataloguepicturename(class="form-control") }}
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.createdby.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.createdby(class="form-control") }}
            </div> -->
            
            <select id="inputState" class="form-group col-md-4">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.datecreated.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.datecreated(class="form-control") }}
            </div> -->
            <div class="form-group col-md-5">
              <!-- <label for="created-date-input" class="col-2 col-form-label">Date</label> -->
              <!-- <div class="form-group col-md-4"> -->
                <input class="form-control" type="date" value="2021-04-01" id="created-date-input">
              <!-- </div> -->
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.modifiedon.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.modifiedon(class="form-control") }}
            </div> -->
            <div class="form-group col-md-5">
                <input class="form-control" type="date" value="2021-04-01" id="modified-date-input">
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.modifiedby.label(class="form-control-label") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.modifiedby(class="form-control") }}
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.pictureuploaddate.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.pictureuploaddate(class="form-control") }}
            </div> -->
            
            <div class="form-group col-md-5">
              <input class="form-control" type="date" value="2021-04-01" id="pictureupload-date-input">
            </div>
          </div>
          <div class="row col-md-4">
            <div class="col-md-6">
              {{ form.reportuploaddate.label(class="form-control-label") }}
            </div>
            <!-- <div class="form-group col-md-4">
              {{ form.reportuploaddate(class="form-control") }}
            </div> -->
            <div class="form-group col-md-5">
              <input class="form-control" type="date" value="2021-04-01" id="modified-date-input">
            </div>
          </div>
          
        </div>
        <div class="row col-md-4">
        <div class="col-md-2">
          {{ form.submit(class='btn btn-primary btn-md')}}
        </div>
        <div class="form-group col-md-2">
          <a href="{{url_for('navigation')}}" class='btn btn-secondary float-right '>Back</a>
        </div>
      </form>

    </div>
  </div>

</div>
{% endblock %}