{% extends 'layout.html' %}

{% block body %}
<div class="mt-12">
   <div class="row">
     <div class="col-md-12 offset-0">
      <h3 class="text-center">
        Add Wellbore Core info
      </h3>
      <br>

    <!-- <form>
      <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
      </div>
      <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-10 offset-sm-2">
              <label class="form-check-label"><input type="checkbox"> Remember me</label>
          </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-10 offset-sm-2">
              <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
      </div>
    </form> -->

    <form method ="POST" action="{{url_for('new_wellborecore')}}">
      <div class="row w-100 p-3 col-md-12">
        
        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.wellborename.label(class="form-control-label") }}
          </div>
          <select id="inputState" class="form-group col-md-4">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.corenumber.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.corenumber(class="form-control") }}
         </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.coredate.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.coredate(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
          {{ form.coringcontractor.label(class="form-control-label") }}
          </div>
          <!-- <div class="form-group col-md-4">
            {{ form.coringcontractor(class="form-control") }}
          </div> -->
          <select id="inputState" class="form-group col-md-4">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.coretopmdrt.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.coretopmdrt(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.corebottommdrt.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.corebottommdrt(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.coretoptvd.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.coretoptvd(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.corebottomtvd.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.corebottomtvd(class="form-control") }}
          </div>
        </div>
        
        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.cutlength.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.cutlength(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.cutlengthtvd.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.cutlengthtvd(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.recoveredlength.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.recoveredlength(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.corerecovery.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.corerecovery(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.topformation.label(class="form-control-label") }}
          </div>
          <!-- <div class="form-group col-md-4">
            {{ form.topformation(class="form-control") }}
          </div> -->
          <select id="inputState" class="form-group col-md-4">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.bottomformation.label(class="form-control-label") }}
          </div>
          <!-- <div class="form-group col-md-4">
            {{ form.bottomformation(class="form-control") }}
          </div> -->
          <select id="inputState" class="form-group col-md-4">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.corepicturesoftcopypath.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.corepicturesoftcopypath(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.corepicturehyperlink.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.corepicturehyperlink(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.corereportsoftcopypath.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.corereportsoftcopypath(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.corereporthyperlink.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.corereporthyperlink(class="form-control") }} 
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.documentformat.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.documentformat(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.filesize.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.filesize(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.securitygrade.label(class="form-control-label") }}
          </div>
          <!-- <div class="form-group col-md-4">
            {{ form.securitygrade(class="form-control") }}
          </div> -->
          <select id="inputState" class="form-group col-md-4">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        
        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.openduedate.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.openduedate(class="form-control") }}
          </div>
        </div>
        
        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.comments.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.comments(class="form-control") }}
          </div>
        </div>
        
        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.documenttitle.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.documenttitle(class="form-control") }}
          </div>
        </div>
        
        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.receivedate.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.receivedate(class="form-control") }}
          </div>
        </div>
        
        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.documentdate.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.documentdate(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.documentname.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.documentname(class="form-control") }}
          </div>
        </div>
        
        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.cored.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.cored(class="form-control") }}
          </div>
        </div>
          
        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.createdby.label(class="form-control-label") }}
          </div>
          <!-- <div class="form-group col-md-4">
            {{ form.createdby(class="form-control") }}
          </div> -->
          <select id="inputState" class="form-group col-md-4">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        
        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.datecreated.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.datecreated(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.modifiedon.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.modifiedon(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.modifiedby.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.modifiedby(class="form-control") }}
          </div>
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.pictureuploaddate.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.pictureuploaddate(class="form-control") }}
          </div>
        </div>
        
        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.reportuploaddate.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.reportuploaddate(class="form-control") }}
          </div> 
        </div>

        <div class="row col-md-4">
          <div class="col-md-6">
            {{ form.comments.label(class="form-control-label") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.comments(class="form-control") }}
          </div> 
        </div>
      </div>

        <!-- <div class="form-group col-md-4">
          {{ form.wellborename.label(class="form-control-label") }}
          {{ form.wellborename(class="form-control") }}
         
        </div>
        <div class="form-group">
          {{ form.corenumber.label(class="form-control-label") }}
          {{ form.corenumber(class="form-control") }}
         
        </div>
        <div class="form-group">
          {{ form.coredate.label(class="form-control-label") }}
          {{ form.coredate(class="form-control") }}
         
        </div>
        <div class="form-group">
          {{ form.coringcontractor.label(class="form-control-label") }}
          {{ form.coringcontractor(class="form-control") }}
         
        </div>
        <div class="form-group">
          {{ form.coretopmdrt.label(class="form-control-label") }}
          {{ form.coretopmdrt(class="form-control") }}
         
        </div>
        <div class="form-group">
          {{ form.corebottommdrt.label(class="form-control-label") }}
          {{ form.corebottommdrt(class="form-control") }}
         
        </div>
        <div class="form-group">
          {{ form.coretoptvd.label(class="form-control-label") }}
          {{ form.coretoptvd(class="form-control") }}
         
        </div>
        <div class="form-group">
          {{ form.corebottomtvd.label(class="form-control-label") }}
          {{ form.corebottomtvd(class="form-control") }}
         
        </div>
        <div class="form-group">
          {{ form.cutlength.label(class="form-control-label") }}
          {{ form.cutlength(class="form-control") }}
         
        </div>
        <div class="form-group">
          {{ form.cutlengthtvd.label(class="form-control-label") }}
          {{ form.cutlengthtvd(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.recoveredlength.label(class="form-control-label") }}
            {{ form.recoveredlength(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.corerecovery.label(class="form-control-label") }}
            {{ form.corerecovery(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.topformation.label(class="form-control-label") }}
            {{ form.topformation(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.bottomformation.label(class="form-control-label") }}
            {{ form.bottomformation(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.corepicturesoftcopypath.label(class="form-control-label") }}
            {{ form.corepicturesoftcopypath(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.corepicturehyperlink.label(class="form-control-label") }}
            {{ form.corepicturehyperlink(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.corereportsoftcopypath.label(class="form-control-label") }}
            {{ form.corereportsoftcopypath(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.corereporthyperlink.label(class="form-control-label") }}
            {{ form.corereporthyperlink(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.documentformat.label(class="form-control-label") }}
            {{ form.documentformat(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.filesize.label(class="form-control-label") }}
            {{ form.filesize(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.securitygrade.label(class="form-control-label") }}
            {{ form.securitygrade(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.openduedate.label(class="form-control-label") }}
            {{ form.openduedate(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.comments.label(class="form-control-label") }}
            {{ form.comments(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.documenttitle.label(class="form-control-label") }}
            {{ form.documenttitle(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.receivedate.label(class="form-control-label") }}
            {{ form.receivedate(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.documentdate.label(class="form-control-label") }}
            {{ form.documentdate(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.documentname.label(class="form-control-label") }}
            {{ form.documentname(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.cored.label(class="form-control-label") }}
            {{ form.cored(class="form-control") }}
           
          </div>
          
          <div class="form-group">
            {{ form.createdby.label(class="form-control-label") }}
            {{ form.createdby(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.datecreated.label(class="form-control-label") }}
            {{ form.datecreated(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.modifiedon.label(class="form-control-label") }}
            {{ form.modifiedon(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.modifiedby.label(class="form-control-label") }}
            {{ form.modifiedby(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.pictureuploaddate.label(class="form-control-label") }}
            {{ form.pictureuploaddate(class="form-control") }}
           
          </div>
          <div class="form-group">
            {{ form.reportuploaddate.label(class="form-control-label") }}
            {{ form.reportuploaddate(class="form-control") }}
           
          </div>                     -->
        <div class="row col-md-4">
          <div class="col-md-2">
            {{ form.submit(class='btn btn-primary btn-md')}}
          </div>
          <div class="form-group col-md-2">
            <a href="{{url_for('navigation')}}" class='btn btn-secondary float-right '>Back</a>
          </div>
        </div>
      </form>
     </div>
   </div>
   
</div>
{% endblock %}

