{% extends 'layout.html' %}

{% block body %}
<div class="container mt-3">
  <div class="text-center">
  <span><img src="{{url_for('static', filename='images/login1.jpg')}}" alt="login-image"> </span>
    <h3 >Login</h3>
  </div>
  <div class="row">
    <div class="col-md-4 offset-4">
      <form method ="POST" action="{{url_for('login')}}">
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {{ form.email(class="form-control") }}
         
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {{ form.password(class="form-control") }}
        </div>
        <div class="text-center">
          {{ form.submit(class='btn btn-primary btn-md')}}
        </div>
      </form>
    </div>
  </div>
    
      <br>
      <div class="card card-body bg-outline-info">
        demo account:
        <hr>
        email: authority@pau.go.ug|
        password: benny&D!199B|
        role: admin
        <br>
        email: edward@gmail.com |
        password: !fetty2020A  |
        role: user
      </div>
      <br><br>
      
</div>

{% endblock %}

