<nav class="navbar navbar-expand-sm navbar-light bg-warning ">
  <a class="navbar-brand" >Petroleum Authority of Uganda</a>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item text-white">
            <a class="nav-link " aria-current="page" href="{{ url_for('dashboard')}}">Home</a>
          </li>
          <li class="nav-item text-white">
            <a class="nav-link" href="{{ url_for('navigation')}}">Navigation</a>
          </li>
          
        </ul>
        
            <ul class='nav navbar-nav ml-auto'>
              {% if current_user.is_authenticated %}
                <li class="nav-item text-white">
                    <a class="nav-link" href=" {{ url_for('logout')}}">Logout</a>
                  </li>
                {% else %}
                  <li class="nav-item text-white">
                    <a class="nav-link" href=" {{ url_for('signin')}}">Log in</a>
                  </li>
                  {% endif  %}
            </ul>
        
      </div>
    </div>
  </nav>