{% extends 'layout.html' %}

{% block body %}

        <div class="container mt-1">
            <div class="mt-3">
            <h3 class="text-center">Update Wellbore Data</h3>
              <br>
           </div>
           <div class="row">
            <div class="col-md-4 offset-4">
            <form method ="POST" action="/wellbore/{{oilsample1.wellboreid}}/update">
                <div class="form-group">
                    <label for="wellboreofficialname">wellboreofficialname</label>
                    <input type="text" name='wellboreofficialname' class="form-control"  value='{{oilsample1.wellboreofficialname}}' required>
                 
                </div>
                <div class="form-group">
                    <label for="wellborelocalname">wellborelocalname</label>
                    <input type="text" name='wellborelocalname' class="form-control"  value='{{oilsample1.wellborelocalname}}' required>
                 
                </div>
                <div class="form-group">
                    <label for="wellborealiasname">wellborealiasname</label>
                    <input type="text" name='wellborealiasname' class="form-control"  value='{{oilsample1.wellborealiasname}}' required>
                 
                </div>
                <div class="form-group">
                    <label for="wellborespuddate">wellborespuddate</label>
                    <input type="date" name='wellborespuddate' class="form-control"  value='{{oilsample1.wellborespuddate}}' required>
                 
                </div>
                <div class="form-group">
                    <label for="spudyear">spudyear</label>
                    <input type="text" name='spudyear' class="form-control"  value='{{oilsample1.spudyear}}' required>
                 
                </div>
                <div class="form-group">
                    <label for="wellboretypeid">wellboretypeid</label>
                    <input type="number" step="any" name='wellboretypeid' class="form-control"  value='{{oilsample1.wellboretypeid}}' required>
                 
                </div>
                <div class="form-group">
                    <label for="initialwellborepurposeid">initialwellborepurposeid</label>
                    <input type="number" step="any" name ='initialwellborepurposeid' class="form-control"  value='{{oilsample1.initialwellborepurposeid}}' required>
                </div>
            
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary mb-2">submit</button>
                    <a href="{{url_for('navigation')}}" class='btn btn-secondary float-right '>Back</a>
                </div>
              </form>
              
        </div>
    </div>
</div>
</div>

{% endblock %}