<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wellbore Core</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  {% include 'navbar.html' %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages%}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="container mt-3">
    <h3 class="text-center">
      Welcome to Wellbore Core Data
    </h3>
    <hr>
    <a href="{{url_for('navigation')}}" class='btn btn-secondary '>Back</a>
    <a href="{{url_for('new_wellborecore')}}" class='btn btn-primary float-right'>Add Data</a>
    <br><br>
    <div>

      <!-- <table class='table table-striped'> -->
      <div class="table-responsive">
      <table class="table table-striped">
        <caption>List of Well Bores</caption>
        <thead class="thead-dark">
          <tr>
            <th>Well Bore Name</th>
            <th>Cored?</th>
            <th>Core Number</th>
            <th>Core Date</th>
            <th>Coring Contractor</th>
            <th>coretopMDRT</th>
            <th>corebottommdrt</th>
            <th>coretoptvd</th>
            <th>corebottomtvd</th>
            <th>cutlength</th>
            <th>cutlengthtvd</th>
            <th>Recovered Length</th>
            <th>Core Recovery</th>
            <th>Top Formation</th>
            <th>Bottom Formation</th>
            <th class="col-1">Core Pictures Of TCopy Path</th>
            <th class="col-1">Corepicture Hyperlink</th>
            <th class="col-1">Core Report Soft Copypath</th>
            <th>Corereport Hyperlink</th>
            <th>Document Format</th>
            <th>File Size</th>
            <th>Security Grade</th>
            <th>Open Due Date</th>
            <th>Comments</th>
            <th>Document Title</th>
            <th>Receive Date</th>
            <th>Created By</th>
            <th>Date Created</th>
            <th>Modified On</th>
            <th>Modified By</th>
            <th>Picture Upload Date</th>
            <th>Report Upload Date</th>
            <th>Record date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        {% for info in infos %}
        <tbody>
          <tr>
            <td>{{info.wellborename}}</td>
            <td>{{info.cored}}</td>
            <td>{{info.corenumber}}</td>
            <td>{{info.coredate}}</td>
            <td>{{info.coringcontractor}}</td>
            <td>{{info.coretopmdrt}}</td>
            <td>{{info.corebottommdrt}}</td>
            <td>{{info.coretoptvd}}</td>
            <td>{{info.corebottomtvd}}</td>
            <td>{{info.cutlength}}</td>
            <td>{{info.cutlengthtvd}}</td>
            <td>{{info.recoveredlength}}</td>
            <td>{{info.corerecovery}}</td>
            <td>{{info.topformation}}</td>
            <td>{{info.bottomformation}}</td>
            <td>{{info.corepicturesoftcopypath}}</td>
            <td>{{info.corepicturehyperlink}}</td>
            <td>{{info.corereportsoftcopypath}}</td>
            <td>{{info.corereporthyperlink}}</td>
            <td>{{info.documentformat}}</td>
            <td>{{info.filesize}}</td>
            <td>{{info.securitygrade}}</td>
            <td>{{info.openduedate}}</td>
            <td>{{info.comments}}</td>
            <td>{{info.documenttitle}}</td>
            <td>{{info.receiveddate}}</td>
            <td>{{info.createdby}}</td>
            <td>{{info.datecreated}}</td>
            <td>{{info.modifiedon}}</td>
            <td>{{info.modifiedby}}</td>
            <td>{{info.pictureuploaddate}}</td>
            <td>{{info.reportuploaddate}}</td>


            <td>{{info.recorddate.strftime('%d-%m-%Y')}}</td>
            {% if current_user.role == 'admin' %}
            <td><a href="/wellborecore/{{info.wellborecoreid}}/update" class='btn btn-success'>Edit</a></td>
            <td><a href="/wellborecore/delete/{{info.wellborecoreid}}" class='btn btn-danger'
                onclick="return confirm('Do you really want to delete ?');">Delete</a></td>
            {% endif %}
          </tr>
        </tbody>
        {% endfor %}

      </table>
    </div>
      <!-- <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Well Bore Name</th>
          <th scope="col">Cored?</th>
          <th scope="col">Core Number</th>
        </tr>
      </thead>
      <tbody>
        {% for info in infos %}
           <tr>
               <th scope="row">{{info.wellboreid}}</th>
               <td>{{info.wellborename}}</td>
               <td>{{info.cored}}</td>
               <td>{{info.corenumber}}</td>
           </tr>
        {% endfor %}
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table> -->

    </div>
  </div>
  <br><br>
  <div class="card bg-secondary">
    <footer class="footer text-center ">
      <div class="container">
        <span class="text-strong">Copyright &copy 2021 Petroleum Authority of Uganda</span>
      </div>
    </footer>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>